$background: #101010;
$color:#808080;
body{
    background-color: $background;
    color: $color;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: #fff;
    font-size: 30px;
}
p{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}